@model int

<td><a  asp-action="Details" class="btn btn-primary" asp-route-id="@Model"><i class="fa-solid fa-eye"></i> Details</a></td>
<td><a  asp-action="Edit" class="btn btn-success" asp-route-id="@Model"><i class="fa-solid fa-pen-to-square"></i> Edit</a></td>
