@{
    ViewData["Title"] = "Home Page";
}
<div class="alert alert-info vw-100 vh-100"> 
	<div class="text-center">
		<h1 class="display-4">Welcome</h1>
		<p>Welcome to the Company Management System</p>
	</div>
